body {
    font-family: 'Raleway', sans-serif;
}

:root {
    --light-grey: #e0e0e0;
    --dark-grey: #606060;
    --red-bg: #da1e5d;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 5rem;
}
#nav{
    margin-bottom: 1.75rem;
}
.card{
    background-color:var(--red-bg);
    min-height: 7rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h2{
    color: white;
}
button{
    background-color: var(--light-grey);
    width: 10rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-family: 'Raleway';
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
}
button:hover{
    background-color: var(--dark-grey);
    color: white;
}

button:focus{
    background-color: var(--dark-grey);
    color: white;
}

/* layout 1 styles */

#layout-1{
    display: grid;
    grid-template-columns: 1;
    gap: 2rem;
}
/* #layout-1 .card{
    height: 9.3rem;
} */


/* layout 2 styles */
#layout-2{
    display: none;
    grid-template-columns: repeat(3, 24rem);
    gap: 2rem;
}
#layout-2 .card{
    height: 18.5rem;
}

/* layout 3 styles  */
#layout-3{
    display: none;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

#middle-div{
    display: grid;
    grid-template-columns: 25vw 40vw 25vw;
    /* column-gap: 2rem; */
}
#middle-div .card{
    height: 27rem;
}
#l-3-card2, #l-3-card3{
margin-right: 2rem;
}